:root {

    /* Primary Colors */
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --main-p: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    /* Typography */
    --body-font: 'Inter', sans-serif;
    --stat-font: 'Lexend Deca', sans-serif;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

h1, p {
    margin: 0;
}

.container {
    width: 87.201%;
    max-width: 111rem;
    margin: 0 auto;
}

body {
    height: 100vh;
    background-color: var(--main-bg);
    font-family: var(--body-font);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    display: block;
}

.content {
    display: grid;
    /* grid-template-rows: 240px 1fr 1fr; */
    background-color: var(--card-bg);
    border-radius: .8rem;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.20);
    overflow: hidden;
}
@media (min-width: 768px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

.image {
    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(171, 92, 219); */
}
@media (min-width: 768px) {
    .image {
        background-image: url(../images/image-header-desktop.jpg);
        background-size: cover;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.image .img {
    height: 240px;
    mix-blend-mode: multiply;
    /* opacity: .75; */
    background-color: var(--accent);
}
@media (min-width: 768px) {
    .image .img {
        height: 100%;
    }
}

.principal {
    margin: 0;
    padding: 4rem 3.15rem 3.2rem 3.15rem;
}
@media (min-width: 768px) {
    .principal {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 7.1rem 9.5rem 5.9rem 7.2rem;
    }
}

.principal h1 {
    color: var(--white);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
}

.principal h1 span {
    color: var(--accent);
}

.principal p {
    color: var(--white);
    font-weight: 400;
    line-height: 25px;
    opacity: .75;
    text-align: center;
    margin-top: 1.6rem;
}
@media (min-width: 768px) {
    .principal h1 {
        font-size: 3.6rem;
        text-align: left;
    }

    .principal p {
        margin-top: 2.5rem;
        text-align: left;
    }
}

.principal .stats {
    margin-top: 4rem;
}
@media (min-width: 768px) {
    .principal .stats {
        margin-top: 7.2rem;
        display: flex;
        gap: 6rem;
    }
}

.container .principal .stats .row .column {
    padding: 0;
}

.principal .stats p {
    margin: 0;
    margin-bottom: 2.4rem;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 700;
    opacity: 1;
}

.principal .stats p:last-of-type {
    margin: 0;
}

.principal .stats p span {
    display: block;
    font-family: var(--stat-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6000000238418579;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}